<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>3.0</string>
	<key>Name</key>
	<string>WWDC</string>
	<key>ContentIdentifier</key>
	<string>PhilZet.WWDC2018</string>
	<key>ContentVersion</key>
	<string>1</string>
	<key>ImageReference</key>
	<string>Logo.png</string>
	<key>PosterReference</key>
	<string>Logo.png</string>
	<key>SwiftVersion</key>
	<string>4.1</string>
	<key>Chapters</key>
	<array>
		<string>WWDC.playgroundchapter</string>
	</array>
	<key>DeploymentTarget</key>
	<string>ios11.0</string>
	<key>DevelopmentRegion</key>
	<string>en</string>
</dict>
</plist>
